@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Quicksand";
  src: url('/fonts/../../drone/web/stylesheets/fonts/Quicksand.otf?1434011309') format('opentype');
}
@font-face {
  font-family: "Brush";
  src: url('/fonts/../../drone/web/stylesheets/fonts/Brush.ttf?1434011309') format('truetype');
}
/* D├®finition des constantes */
/* Couleurs de la charte graphique */
/* Couleur des points d'int├®r├¬t */
/*----- Fin des constantes  ------*/
/* line 35, ../sass/screen.scss */
body {
  font-family: 'Quicksand', "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 16pt;
  background-color: #141414;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 44, ../sass/screen.scss */
span.bee {
  font-family: 'Brush', Arial, sans-serif;
}

/* line 48, ../sass/screen.scss */
.navbar {
  background-color: #141414;
  margin: 0;
  border: 0;
  line-height: 80px;
  border-radius: 0;
  color: white;
  font-size: 12pt;
  border-bottom: 8px solid #f5ab35;
}
/* line 58, ../sass/screen.scss */
.navbar .navbar-brand {
  color: white;
}
/* line 62, ../sass/screen.scss */
.navbar .navbar-brand:hover {
  color: #aea8d3;
}
/* line 68, ../sass/screen.scss */
.navbar .navbar-nav li a {
  color: white;
}
/* line 72, ../sass/screen.scss */
.navbar .navbar-nav li a:link, .navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus, .navbar .navbar-nav li a:active {
  color: #aea8d3;
}
/* line 82, ../sass/screen.scss */
.navbar div.message-flash {
  float: right;
}
/* line 86, ../sass/screen.scss */
.navbar .navbar-toggle {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
/* line 90, ../sass/screen.scss */
.navbar .navbar-toggle .icon-bar {
  background-color: white;
}
/* line 95, ../sass/screen.scss */
.navbar .navbar-toggle:hover {
  background-color: #4183d7;
}
/* line 99, ../sass/screen.scss */
.navbar #weather {
  display: none;
}
/* line 103, ../sass/screen.scss */
.navbar .dropdown-menu {
  color: white;
  background-color: #141414;
  padding: 0 15px;
}

/* line 111, ../sass/screen.scss */
.open .dropdown-toggle {
  background-color: #f5ab35;
}

/* line 116, ../sass/screen.scss */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: white;
  background-color: #f5ab35;
}

/* line 121, ../sass/screen.scss */
#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 58px auto 10px;
}

/* line 127, ../sass/screen.scss */
h1 {
  font-family: "Segoe UI Light", Helvetica, Tahoma, Arial, sans-serif;
  font-size: 18pt;
}

/* line 132, ../sass/screen.scss */
h1.bee {
  font-size: 72pt;
  text-align: center;
  color: #4183d7;
}

/* line 138, ../sass/screen.scss */
h3 {
  text-align: center;
  font-size: 28pt;
  margin-bottom: 15px;
}

/* line 144, ../sass/screen.scss */
input {
  color: #141414;
}

/* line 148, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 152, ../sass/screen.scss */
.progress {
  border-radius: 0;
}

/* line 156, ../sass/screen.scss */
.progress-bar {
  background-color: #4183d7;
}

/* line 160, ../sass/screen.scss */
.btn-info {
  background-color: #4183d7;
  border-color: #4183d7;
}

/* line 165, ../sass/screen.scss */
.btn:hover {
  background-color: #aea8d3;
  color: black;
}

/* line 170, ../sass/screen.scss */
.list-group {
  border-radius: 0;
}

/* line 174, ../sass/screen.scss */
.list-group-item {
  background-color: inherit;
  border: none;
}

/* line 179, ../sass/screen.scss */
.table {
  background-color: inherit;
  border: solid #f5ab35 0;
}
/* line 183, ../sass/screen.scss */
.table th {
  text-align: center;
}
/* line 188, ../sass/screen.scss */
.table tbody tr, .table tbody td {
  background-color: #f5ab35;
}

/* line 194, ../sass/screen.scss */
.form-control, .input-group-addon {
  border-radius: 0;
}

/* line 198, ../sass/screen.scss */
div.row {
  margin: 0;
}

/* line 202, ../sass/screen.scss */
footer {
  font-size: 10pt;
  color: white;
  margin: 0;
  padding: 5px;
}

/* line 212, ../sass/screen.scss */
label {
  display: block;
  width: 160px;
  float: left;
}

/* line 219, ../sass/screen.scss */
.fos_user_registration_register label {
  width: 250px;
}

/* line 224, ../sass/screen.scss */
.panel {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
/* line 230, ../sass/screen.scss */
.panel .panel-heading {
  border-radius: 0;
  background-color: #f5ab35;
}
/* line 236, ../sass/screen.scss */
.panel .panel-body p {
  padding: 15px 15px 0;
}
/* line 241, ../sass/screen.scss */
.panel .panel-footer {
  background-color: #f5ab35;
  border-radius: 0;
}

/* line 247, ../sass/screen.scss */
.label {
  border-radius: 0;
}

/* line 251, ../sass/screen.scss */
span {
  line-height: normal;
}

/*===============================
=            Bouton            =
===============================*/
/* line 259, ../sass/screen.scss */
.btn {
  border-radius: 0;
  border: 0;
}

/* line 264, ../sass/screen.scss */
.btn.active, .btn-info.active {
  background-color: #aea8d3;
  color: black;
}

/* line 269, ../sass/screen.scss */
.btn-default {
  background-color: #fff;
}

/* line 273, ../sass/screen.scss */
.btn-warning {
  color: black;
  background-color: #f5ab35;
}

/* line 278, ../sass/screen.scss */
.dropdown-menu {
  border-radius: 0;
  background-color: #95bae9;
  color: white;
}

/*-----  Fin de Bouton  ------*/
/*==================================
=            Home index            =
==================================*/
/* line 290, ../sass/screen.scss */
section.home-container {
  border-radius: 0;
  text-align: justify;
  max-width: 100%;
  margin: auto;
}
/* line 297, ../sass/screen.scss */
section.home-container img.right {
  float: right;
  margin-left: 15px;
}
/* line 302, ../sass/screen.scss */
section.home-container img.left {
  float: left;
  margin-right: 15px;
}
/* line 307, ../sass/screen.scss */
section.home-container .btn {
  width: 100%;
}
/* line 311, ../sass/screen.scss */
section.home-container h1 {
  position: absolute;
  z-index: 5;
  text-align: center;
  width: 100%;
  text-shadow: white  1px  1px, white -1px  1px, white -1px -1px, white  1px -1px;
}
/* line 322, ../sass/screen.scss */
section.home-container .carousel {
  padding: 0;
}
/* line 325, ../sass/screen.scss */
section.home-container .carousel .carousel-inner {
  padding: 0;
}
/* line 328, ../sass/screen.scss */
section.home-container .carousel .carousel-inner .item {
  padding: 0;
}
/* line 331, ../sass/screen.scss */
section.home-container .carousel .carousel-inner .item img {
  width: 100%;
  height: 300px;
}
/* line 338, ../sass/screen.scss */
section.home-container .carousel .carousel-control {
  background-image: none;
}
/* line 343, ../sass/screen.scss */
section.home-container .panel-row {
  margin: -60px auto 0;
  width: 80%;
}
/* line 347, ../sass/screen.scss */
section.home-container .panel-row .panel {
  padding: 0 15px;
  font-size: 14pt;
}
/* line 351, ../sass/screen.scss */
section.home-container .panel-row .panel .panel-body {
  background-color: #f5ab35;
  padding: 5px 0 20px;
}
/* line 356, ../sass/screen.scss */
section.home-container .panel-row .panel .panel-title {
  font-size: 26pt;
  text-align: center;
}

/*-----  Fin de Home index  ------*/
/*=================================
=            MapBundle            =
=================================*/
/* line 370, ../sass/screen.scss */
.map {
  height: 100%;
  margin: auto;
  background-color: #f9bd3b;
}
/* line 376, ../sass/screen.scss */
.map h1 {
  text-align: center;
}
/* line 381, ../sass/screen.scss */
.map .map-container #map {
  min-height: 400px;
  height: 500px;
  width: 100%;
}
/* line 388, ../sass/screen.scss */
.map .map-command {
  padding: 0 15px;
}
/* line 391, ../sass/screen.scss */
.map .map-command div.command-content {
  margin-bottom: 15px;
}
/* line 395, ../sass/screen.scss */
.map .map-command .inAction-container {
  text-align: center;
  margin: 0 auto 15px;
  background-color: #141414;
  padding: 5px;
  color: #f9bd3b;
}
/* line 402, ../sass/screen.scss */
.map .map-command .inAction-container h2 {
  font-size: 18pt;
  margin-bottom: 10px;
}
/* line 407, ../sass/screen.scss */
.map .map-command .inAction-container .inAction {
  font-style: italic;
}
/* line 412, ../sass/screen.scss */
.map .map-command #interestPoint {
  min-width: 150px;
}
/* line 416, ../sass/screen.scss */
.map .map-command .legend-content {
  margin-bottom: 0;
}
/* line 419, ../sass/screen.scss */
.map .map-command .legend-content .legend {
  width: 110px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
}
/* line 428, ../sass/screen.scss */
.map .map-command .legend-content .legend div.legend-action {
  float: left;
  width: 30px;
  height: 30px;
  border: solid 2px black;
  border-radius: 15px;
}
/* line 437, ../sass/screen.scss */
.map .map-command .legend-content .point-photo {
  background-color: #4647cb;
}
/* line 441, ../sass/screen.scss */
.map .map-command .legend-content .point-video {
  background-color: #f5ab35;
}
/* line 445, ../sass/screen.scss */
.map .map-command .legend-content .point-sound {
  background-color: #f54735;
}
/* line 449, ../sass/screen.scss */
.map .map-command .legend-content .point-default {
  background-color: #ffffff;
}
/* line 454, ../sass/screen.scss */
.map .map-command #actionTaken {
  display: none;
}
/* line 460, ../sass/screen.scss */
.map .submit-field-row div {
  padding: 0;
}
/* line 463, ../sass/screen.scss */
.map .submit-field-row div .btn {
  border: solid #f5ab35 1px;
}

/*-----  Fin de MapBundle  ------*/
/*==============================
=            Profil            =
==============================*/
/* line 476, ../sass/screen.scss */
.user_show {
  background-color: #f9bd3b;
  font-size: 20pt;
}
/* line 480, ../sass/screen.scss */
.user_show h1 {
  position: relative;
  display: inline;
  top: -58px;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 70px;
  font-weight: bold;
  padding: 0 15px;
  color: #4183d7;
  text-shadow: white  1px  1px, white -1px  1px, white -1px -1px, white  1px -1px;
}
/* line 501, ../sass/screen.scss */
.user_show .profile-picture {
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
}
/* line 507, ../sass/screen.scss */
.user_show .profile-picture img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
/* line 514, ../sass/screen.scss */
.user_show div.profile-access {
  float: right;
  padding: 0;
}
/* line 519, ../sass/screen.scss */
.user_show div.profile-about {
  background-color: #f5ab35;
  padding: 15px;
}
/* line 525, ../sass/screen.scss */
.user_show .panel-row .panel {
  padding: 0 15px;
}
/* line 528, ../sass/screen.scss */
.user_show .panel-row .panel .panel-body {
  background-color: #f5ab35;
}
/* line 532, ../sass/screen.scss */
.user_show .panel-row .panel .panel-title {
  font-size: 26pt;
  text-align: center;
  color: white;
}
/* line 540, ../sass/screen.scss */
.user_show p.profile-drone {
  text-align: center;
}
/* line 543, ../sass/screen.scss */
.user_show p.profile-drone span.profile-drone {
  font-style: italic;
  color: #141414;
  font-size: 28pt;
}
/* line 549, ../sass/screen.scss */
.user_show p.profile-drone table {
  border: 0;
}

/* line 555, ../sass/screen.scss */
.user_dashboard {
  padding: 15px;
  background-color: #474747;
}
/* line 559, ../sass/screen.scss */
.user_dashboard .glyphicon {
  position: relative;
}
/* line 564, ../sass/screen.scss */
.user_dashboard .panel-row .panel-container {
  padding: 0 15px;
}
/* line 567, ../sass/screen.scss */
.user_dashboard .panel-row .panel {
  padding: 0 15px;
}
/* line 570, ../sass/screen.scss */
.user_dashboard .panel-row .panel .panel-heading {
  margin: 7px 0 0;
}
/* line 574, ../sass/screen.scss */
.user_dashboard .panel-row .panel .panel-body {
  background-color: #f5ab35;
  height: 400px;
  overflow: auto;
}
/* line 579, ../sass/screen.scss */
.user_dashboard .panel-row .panel .panel-body a.bootcards-summary-item {
  background-color: transparent;
  width: 150px;
  margin: auto;
}
/* line 586, ../sass/screen.scss */
.user_dashboard .panel-row .panel .panel-title {
  font-size: 26pt;
  color: white;
  margin: 0;
}
/* line 594, ../sass/screen.scss */
.user_dashboard .panel-row .panel-chart .panel-body {
  height: auto;
}
/* line 597, ../sass/screen.scss */
.user_dashboard .panel-row .panel-chart .panel-body h4 {
  margin-bottom: 15px;
}
/* line 602, ../sass/screen.scss */
.user_dashboard .panel-row .panel-chart canvas {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

/* line 612, ../sass/screen.scss */
.form-container {
  background-color: #474747;
  padding: 15px;
}

/* line 617, ../sass/screen.scss */
.form-login {
  padding: 15px;
  margin: auto;
  background-color: #f9bd3b;
  height: 300px;
}

/* line 624, ../sass/screen.scss */
#remember_me-label {
  width: auto;
}

/* line 628, ../sass/screen.scss */
.glyphicon {
  position: static;
}

/*-----  Fin du Profil  ------*/
/*====================================
=            Espace Drone            =
====================================*/
/* line 639, ../sass/screen.scss */
div.drone-content {
  padding: 15px;
}
/* line 642, ../sass/screen.scss */
div.drone-content h1 {
  font-size: 46pt;
  text-align: center;
}
/* line 647, ../sass/screen.scss */
div.drone-content h2 {
  font-family: "Segoe UI Light", Helvetica, Tahoma, Arial;
  margin: 15px 0;
}
/* line 652, ../sass/screen.scss */
div.drone-content .row {
  margin: 0;
}
/* line 656, ../sass/screen.scss */
div.drone-content .retour {
  text-align: center;
  margin-top: 15px;
}

/*-----  Fin de Espace Drone  ------*/
/*=============================
=            Admin            =
=============================*/
/*-----  Fin de l'admin  ------*/
