@charset "CP850";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */
/* line 17, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Quicksand";
  src: url('/stylesheets/fonts/../../drone/web/stylesheets/fonts/Quicksand.otf') format('opentype');
}

@font-face {
  font-family: "Brush";
  src: url('/stylesheets/fonts/../../drone/web/stylesheets/fonts/Brush.ttf') format('truetype');
}

/* Définition des constantes */
/* Couleurs de la charte graphique */
/*----- Fin des constantes  ------*/
/* line 28, ../sass/screen.scss */
body {
  font-family: 'Quicksand', "Segoe UI", Arial, sans-serif;
  font-size: 16pt;
  background-color: #f5ab35;
  color: #141414;
}

/* line 35, ../sass/screen.scss */
span.bee {
  font-family: 'Brush', Arial, sans-serif;
}

/* line 39, ../sass/screen.scss */
.navbar {
  background-color: #4183d7;
  margin: 0px;
  border: 0px;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  color: white;
}
/* line 48, ../sass/screen.scss */
.navbar a {
  color: white;
}
/* line 52, ../sass/screen.scss */
.navbar div.message-flash {
  float: right;
}
/* line 56, ../sass/screen.scss */
.navbar span.weather {
  float: right;
}

/* line 61, ../sass/screen.scss */
#content {
  width: 90%;
  margin: 0px auto 10px;
  padding: 0px 10px;
}

/* line 67, ../sass/screen.scss */
h1 {
  font-family: "Segoe UI Light", Arial;
  font-size: 18pt;
}

/* line 72, ../sass/screen.scss */
h1.bee {
  font-size: 72pt;
  text-align: center;
  color: #4183d7;
}

/* line 78, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 82, ../sass/screen.scss */
.progress {
  border-radius: 0px;
}

/* line 86, ../sass/screen.scss */
.progress-bar {
  background-color: #4183d7;
}

/* line 90, ../sass/screen.scss */
.btn-info {
  background-color: #4183d7;
  border-color: #4183d7;
}

/* line 95, ../sass/screen.scss */
.btn:hover {
  background-color: #aea8d3;
  color: black;
}

/* line 100, ../sass/screen.scss */
.list-group {
  border-radius: 0px;
}

/* line 104, ../sass/screen.scss */
.list-group-item {
  background-color: inherit;
  border: 0px;
}

/* line 109, ../sass/screen.scss */
.table {
  background-color: inherit;
  border: solid #f5ab35 0px;
}
/* line 113, ../sass/screen.scss */
.table th {
  text-align: center;
}
/* line 118, ../sass/screen.scss */
.table tbody tr, .table tbody td {
  background-color: #f5ab35;
}

/* line 124, ../sass/screen.scss */
.form-control, .input-group-addon {
  border-radius: 0px;
}

/* line 128, ../sass/screen.scss */
footer {
  font-size: 10pt;
  color: white;
  margin: 0;
  padding: 5px;
}

/*===============================
=            Bouton            =
===============================*/
/* line 142, ../sass/screen.scss */
.btn {
  border-radius: 0px;
  border: 0px;
}

/* line 147, ../sass/screen.scss */
.btn.active, .btn-info.active {
  background-color: #aea8d3;
  color: black;
}

/* line 152, ../sass/screen.scss */
.btn-default {
  background-color: #fff;
}

/* line 156, ../sass/screen.scss */
.btn-warning {
  color: black;
  background-color: #f5ab35;
}

/* line 161, ../sass/screen.scss */
.dropdown-menu {
  border-radius: 0px;
  background-color: #95bae9;
  color: white;
}

/*-----  Fin de Bouton  ------*/
/*==================================
=            Home index            =
==================================*/
/* line 173, ../sass/screen.scss */
section.home-container {
  padding: 15px;
  background-color: #f9bd3b;
  border-radius: 0px;
}

/*-----  Fin de Home index  ------*/
/*=================================
=            MapBundle            =
=================================*/
/* line 185, ../sass/screen.scss */
.map {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #f9bd3b;
  padding: 15px;
}
/* line 192, ../sass/screen.scss */
.map h1 {
  text-align: center;
}
/* line 196, ../sass/screen.scss */
.map .map-container {
  float: left;
  width: 50%;
  background-color: #f9bd3b;
}
/* line 201, ../sass/screen.scss */
.map .map-container #map {
  position: relative;
  min-height: 400px;
  width: 100%;
}
/* line 208, ../sass/screen.scss */
.map .map-command {
  float: right;
  padding: 15px;
  display: inline-block;
  width: 50%;
}
/* line 214, ../sass/screen.scss */
.map .map-command div {
  margin-bottom: 15px;
}
/* line 218, ../sass/screen.scss */
.map .map-command .inAction {
  text-align: center;
  max-width: 300px;
  margin: 15px auto;
  background-color: #141414;
  padding: 15px;
  color: #f9bd3b;
}
/* line 226, ../sass/screen.scss */
.map .map-command .inAction h2 {
  font-size: 18pt;
  margin-bottom: 10px;
}
/* line 231, ../sass/screen.scss */
.map .map-command .inAction #inAction {
  font-style: italic;
}
/* line 236, ../sass/screen.scss */
.map .map-command #interestPoint {
  min-width: 150px;
}
/* line 240, ../sass/screen.scss */
.map .map-command #actionTaken {
  display: none;
}

/*-----  Fin de MapBundle  ------*/
/*==============================
=            Profil            =
==============================*/
/* line 252, ../sass/screen.scss */
.user_show {
  background-color: #f9bd3b;
  font-size: 20pt;
}
/* line 256, ../sass/screen.scss */
.user_show h1 {
  position: relative;
  display: inline;
  top: -47px;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 70px;
  font-size: 70px;
  font-weight: bold;
  padding: 0px 15px;
  color: white;
}
/* line 273, ../sass/screen.scss */
.user_show .profile-picture {
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
}
/* line 279, ../sass/screen.scss */
.user_show .profile-picture img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
/* line 286, ../sass/screen.scss */
.user_show div.profile-access {
  float: right;
}
/* line 290, ../sass/screen.scss */
.user_show div.profile-about {
  margin: auto;
  width: 400px;
  background-color: #f5ab35;
  padding: 15px;
}
/* line 296, ../sass/screen.scss */
.user_show div.profile-about h3 {
  text-align: center;
  font-size: 28pt;
  margin-bottom: 15px;
}
/* line 303, ../sass/screen.scss */
.user_show p.profile-drone {
  text-align: center;
}
/* line 305, ../sass/screen.scss */
.user_show p.profile-drone span.profile-drone {
  font-style: italic;
  color: #141414;
  font-size: 28pt;
}

/* line 313, ../sass/screen.scss */
.form-login {
  padding: 15px;
  margin: 15px auto;
  background-color: #f9bd3b;
}

/*-----  Fin du Profil  ------*/
