@charset "CP850";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */
/* line 17, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Quicksand";
  src: url('/stylesheets/fonts/../../drone/web/stylesheets/fonts/Quicksand.otf') format('opentype');
}

@font-face {
  font-family: "Brush";
  src: url('/stylesheets/fonts/../../drone/web/stylesheets/fonts/Brush.ttf') format('truetype');
}

/* Définition des constantes */
/* Couleurs de la charte graphique */
/* Couleur des points d'intérêt */
/*----- Fin des constantes  ------*/
/* line 35, ../sass/screen.scss */
body {
  font-family: 'Quicksand', "Segoe UI", Arial, sans-serif;
  font-size: 16pt;
  background-color: #f5ab35;
  color: #141414;
}

/* line 42, ../sass/screen.scss */
span.bee {
  font-family: 'Brush', Arial, sans-serif;
}

/* line 46, ../sass/screen.scss */
.navbar {
  background-color: #4183d7;
  margin: 0px;
  border: 0px;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  color: white;
  font-size: 12pt;
}
/* line 56, ../sass/screen.scss */
.navbar a {
  color: white;
}
/* line 60, ../sass/screen.scss */
.navbar div.message-flash {
  float: right;
}
/* line 64, ../sass/screen.scss */
.navbar span.weather-content {
  float: right;
  display: none;
  overflow: hidden;
}

/* line 71, ../sass/screen.scss */
#content {
  display: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0px auto 10px;
}

/* line 77, ../sass/screen.scss */
h1 {
  font-family: "Segoe UI Light", Arial;
  font-size: 18pt;
}

/* line 82, ../sass/screen.scss */
h1.bee {
  font-size: 72pt;
  text-align: center;
  color: #4183d7;
}

/* line 88, ../sass/screen.scss */
h3 {
  text-align: center;
  font-size: 28pt;
  margin-bottom: 15px;
}

/* line 94, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 98, ../sass/screen.scss */
.progress {
  border-radius: 0px;
}

/* line 102, ../sass/screen.scss */
.progress-bar {
  background-color: #4183d7;
}

/* line 106, ../sass/screen.scss */
.btn-info {
  background-color: #4183d7;
  border-color: #4183d7;
}

/* line 111, ../sass/screen.scss */
.btn:hover {
  background-color: #aea8d3;
  color: black;
}

/* line 116, ../sass/screen.scss */
.list-group {
  border-radius: 0px;
}

/* line 120, ../sass/screen.scss */
.list-group-item {
  background-color: inherit;
  border-color: #141414;
}

/* line 125, ../sass/screen.scss */
.table {
  background-color: inherit;
  border: solid #f5ab35 0px;
}
/* line 129, ../sass/screen.scss */
.table th {
  text-align: center;
}
/* line 134, ../sass/screen.scss */
.table tbody tr, .table tbody td {
  background-color: #f5ab35;
}

/* line 140, ../sass/screen.scss */
.form-control, .input-group-addon {
  border-radius: 0px;
}

/* line 144, ../sass/screen.scss */
footer {
  font-size: 10pt;
  color: white;
  margin: 0;
  padding: 5px;
}

/*===============================
=            Bouton            =
===============================*/
/* line 158, ../sass/screen.scss */
.btn {
  border-radius: 0px;
  border: 0px;
}

/* line 163, ../sass/screen.scss */
.btn.active, .btn-info.active {
  background-color: #aea8d3;
  color: black;
}

/* line 168, ../sass/screen.scss */
.btn-default {
  background-color: #fff;
}

/* line 172, ../sass/screen.scss */
.btn-warning {
  color: black;
  background-color: #f5ab35;
}

/* line 177, ../sass/screen.scss */
.dropdown-menu {
  border-radius: 0px;
  background-color: #95bae9;
  color: white;
}

/*-----  Fin de Bouton  ------*/
/*==================================
=            Home index            =
==================================*/
/* line 189, ../sass/screen.scss */
section.home-container {
  padding: 15px;
  background-color: #f9bd3b;
  border-radius: 0px;
  text-align: justify;
  max-width: 700px;
  margin: auto;
}
/* line 197, ../sass/screen.scss */
section.home-container div {
  padding: 5px;
}
/* line 201, ../sass/screen.scss */
section.home-container img {
  width: 400px;
  height: auto;
}
/* line 206, ../sass/screen.scss */
section.home-container img.right {
  float: right;
  margin-left: 15px;
}
/* line 211, ../sass/screen.scss */
section.home-container img.left {
  float: left;
  margin-right: 15px;
}
/* line 216, ../sass/screen.scss */
section.home-container .btn {
  width: 100%;
}

/*-----  Fin de Home index  ------*/
/*=================================
=            MapBundle            =
=================================*/
/* line 227, ../sass/screen.scss */
.map {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #f9bd3b;
  padding: 15px;
}
/* line 234, ../sass/screen.scss */
.map h1 {
  text-align: center;
}
/* line 238, ../sass/screen.scss */
.map .map-container {
  float: left;
  width: 50%;
  background-color: #f9bd3b;
}
/* line 243, ../sass/screen.scss */
.map .map-container #map {
  position: relative;
  min-height: 400px;
  width: 100%;
}
/* line 250, ../sass/screen.scss */
.map .map-command {
  float: right;
  padding: 15px;
  display: inline-block;
  width: 50%;
}
/* line 256, ../sass/screen.scss */
.map .map-command div.command-content {
  margin-bottom: 15px;
}
/* line 260, ../sass/screen.scss */
.map .map-command .inAction {
  text-align: center;
  max-width: 300px;
  margin: 15px auto;
  background-color: #141414;
  padding: 15px;
  color: #f9bd3b;
}
/* line 268, ../sass/screen.scss */
.map .map-command .inAction h2 {
  font-size: 18pt;
  margin-bottom: 10px;
}
/* line 273, ../sass/screen.scss */
.map .map-command .inAction #inAction {
  font-style: italic;
}
/* line 278, ../sass/screen.scss */
.map .map-command #interestPoint {
  min-width: 150px;
}
/* line 282, ../sass/screen.scss */
.map .map-command .legend-content {
  margin-bottom: 0px;
}
/* line 285, ../sass/screen.scss */
.map .map-command .legend-content .legend {
  width: 100px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-bottom: 0px;
  font-weight: bold;
  font-style: italic;
}
/* line 294, ../sass/screen.scss */
.map .map-command .legend-content .legend div.legend-action {
  float: left;
  width: 30px;
  height: 30px;
  border: solid 2px black;
  border-radius: 15px;
}
/* line 303, ../sass/screen.scss */
.map .map-command .legend-content .point-photo {
  background-color: #4647cb;
}
/* line 307, ../sass/screen.scss */
.map .map-command .legend-content .point-video {
  background-color: #f5ab35;
}
/* line 311, ../sass/screen.scss */
.map .map-command .legend-content .point-sound {
  background-color: #f54735;
}
/* line 315, ../sass/screen.scss */
.map .map-command .legend-content .point-default {
  background-color: white;
}
/* line 320, ../sass/screen.scss */
.map .map-command #actionTaken {
  display: none;
}

/*-----  Fin de MapBundle  ------*/
/*==============================
=            Profil            =
==============================*/
/* line 332, ../sass/screen.scss */
.user_show {
  background-color: #f9bd3b;
  font-size: 20pt;
}
/* line 336, ../sass/screen.scss */
.user_show h1 {
  position: relative;
  display: inline;
  top: -47px;
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 70px;
  font-size: 70px;
  font-weight: bold;
  padding: 0px 15px;
  color: white;
}
/* line 353, ../sass/screen.scss */
.user_show .profile-picture {
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow: hidden;
}
/* line 359, ../sass/screen.scss */
.user_show .profile-picture img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
/* line 366, ../sass/screen.scss */
.user_show div.profile-access {
  float: right;
}
/* line 370, ../sass/screen.scss */
.user_show div.profile-about {
  margin: auto;
  width: 400px;
  background-color: #f5ab35;
  padding: 15px;
}
/* line 377, ../sass/screen.scss */
.user_show p.profile-drone {
  text-align: center;
}
/* line 379, ../sass/screen.scss */
.user_show p.profile-drone span.profile-drone {
  font-style: italic;
  color: #141414;
  font-size: 28pt;
}

/* line 387, ../sass/screen.scss */
.form-login {
  padding: 15px;
  margin: 15px auto;
  background-color: #f9bd3b;
}

/*-----  Fin du Profil  ------*/
