{% extends 'DroneMapBundle::layout_drone.html.twig' %}

{% block title_drone %}
    Création d'un nouveau drone
{% endblock %}

{% block body_drone %}
	<h1>Création d'une fiche drone</h1>

	{{ form(form) }}
	
	{#
	<ul class="record_actions">
		<li>
			<a href="{{ path('drone') }}">
				Back to the list
			</a>
		</li>
	</ul>
	#}
{% endblock %}
