{% extends '::base.html.twig' %}
{% block body %}
 	<section class="home-container">
		<h1 class="bee"><span class="bee">Bee</span> Eye</h1>
		La plateforme pour observer vos champs de culture depuis votre salon !
		<p>
			Ce que propose <span class="bee">Bee</span> Eye :
			<ul>
				<li>Détourer vos terrains</li>
				<li>Créer des points d'intérêt</li>
				<li>Positionner votre drone</li>
				<li>Effectuer en un seul clique une ronde auprès de tous vos points d'intérêt</li>
			</ul>
			Le drone est capable de prendre des photos, des vidéos, entendre, traiter des images, etc...
			<br>
			<a href="{{ path('drone_map_homepage') }}" title="Accéder à la page de cartographie">Accéder à la page de cartographie</a>
		</p>
 	</section>
{% endblock %}
