{% extends 'DroneMapBundle::layout.html.twig' %}

{% block body_map %}
	<h1>Carte du monde</h1>
    <input id="search_query" name="search_query" type="text" value="11 avenue des iles d'or, 83400, Hyères">
    <input id="search" name="search" type="button" value="Rechercher">
    <a href="#" id="rectangleChoice" class="btn btn-default btn-lg" role="button">Détourer votre terrain</a>
    <div id='map'></div>
{% endblock %}

{% block javascripts_map %}
<script>
	$(function(){
		var credentialsKey = "AkTr7IeJt5O4ZpWh9reo8wMmlcWN8purxjzGkLalDqeMICooYnrBJepl9dD7cmMt";
		var mapOptions = {
			credentials: credentialsKey,
			center: new Microsoft.Maps.Location(48.85720336058152, 2.3527531137302393),
			mapTypeId: Microsoft.Maps.MapTypeId.automatic,
			zoom: 10
		};

		var map = new Microsoft.Maps.Map(document.getElementById("map"), mapOptions);

		//Ajout de modules utilisés
		var handleClick = false;
        search_engine_loaded = false;
        Microsoft.Maps.loadModule('Microsoft.Maps.Search', { callback: function(){
        		search_engine_loaded = true;
	        }
	    });

        $("#search").click(function(){
        	var query = $("#search_query").val();
        	if(query != ""){
        		searchModule(query);
        	}
        });

        $("#rectangleChoice").click(function(e){
        	e.preventDefault();
        	$(this).toggleClass('active').trigger('classChange');
        	return false;
        });

		$(document).on('classChange', function(){
			if($("#rectangleChoice").hasClass('active')){
				handleClick = Microsoft.Maps.Events.addHandler(map, 'click', function(e){
					if (e.targetType == "map") {
						var point = new Microsoft.Maps.Point(e.getX(), e.getY());
						var loc = e.target.tryPixelToLocation(point);
						alert(loc.latitude + ", " + loc.longitude);
					}
				});
	        }else{
	        	if(handleClick !== false){
	        		Microsoft.Maps.Events.removeHandler(handleClick);
	        		handleClick = false;
	        	}
	        }
        });
        /*==========  Fonctions  ==========*/

		function searchModule(q)
		{
			if(search_engine_loaded){
				var searchManager = new Microsoft.Maps.Search.SearchManager(map);

				var searchRequest = {
					where: q, 
					count: 5, 
					callback: searchGeoCallback, 
					errorCallback: searchError
				};

				searchManager.geocode(searchRequest);
			}
		}

		function searchGeoCallback(geocodeResult, userData){
			map.setView({
				bounds: geocodeResult.results[0].bestView
			});
		}

		function searchError(searchRequest)
		{
			alert("An error occurred.");
		}
	});
</script>
{% endblock %}