/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */

@import "compass/reset";
@import "compass/css3";
//@import "compass/css3/font-face";
@include font-face("Quicksand", font-files("../../drone/web/stylesheets/fonts/Quicksand.otf"));
@include font-face("Brush", font-files("../../drone/web/stylesheets/fonts/Brush.ttf"));

/* Définition des constantes */

$purple:        #663399;
$lightWisteria: #be90d4;
$wistful:       #aea8d3;
$tahitiGold:    #e87e04;
$ming:          #336e7b;
$dodgerBlue:    #19b5fe;

/* Couleurs de la charte graphique */

$yellow:    #f9bd3b;
$beeYellow: #f5ab35;
$beeBlack:  #141414;
$royalBlue: #4183d7;

/* Couleur des points d'intérêt */

$pointPhoto:   #4647cb;
$pointVideo:   #f5ab35;
$pointSound:   #f54735;
$pointDefault: #ffffff;

/*----- Fin des constantes  ------*/

body {
	font-family: 'Quicksand', "Segoe UI", Arial, sans-serif;
	font-size: 16pt;
	background-color: $beeBlack;
	color: white;
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
}

span.bee {
	font-family: 'Brush', Arial, sans-serif;
}

.navbar {
	background-color: $beeBlack;
	margin: 0px;
	border: 0px;
	line-height: 80px;
	border-radius: 0px;
	color: white;
	font-size: 12pt;
    border-bottom: 8px solid $beeYellow;

	a {
		color: white;
	}

	div.message-flash {
		float: right;
	}

	span.weather-content {
		float: right;
		display: none;
		overflow: hidden;
	}
}

#content {
	position: absolute;
	top: 0px; right: 0px; left: 0px;
	margin: 0px auto 10px;
}

h1 {
	font-family: "Segoe UI Light", Arial;
	font-size: 18pt;
}

h1.bee {
	font-size: 72pt;
	text-align: center;
	color: $royalBlue;
}

h3 {
	text-align: center;
	font-size: 28pt;
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

.progress {
	border-radius: 0px;
}

.progress-bar {
	background-color: $royalBlue;
}

.btn-info {
	background-color: $royalBlue;
	border-color:     $royalBlue;
}

.btn:hover {
	background-color: $wistful;
	color:            black;
}

.list-group {
	border-radius: 0px;
}

.list-group-item {
	background-color: inherit;
	border-color: $beeBlack;
}

.table {
	background-color: inherit;
	border: solid $beeYellow 0px;

	th {
		text-align: center;
	}
	
	tbody {
		tr, td {
			background-color: $beeYellow;
		}
	}
}

.form-control, .input-group-addon {
	border-radius: 0px;
}

div.row {
	margin: 0px;
}

footer {
	font-size: 10pt;
	color: white;
	// position: absolute;
	// left: 0;
	// bottom: 0;
	margin: 0;
	padding: 5px;
}

label {
	display: block;
	width: 160px;
	float: left;
}

.fos_user_registration_register {
	label {
		width: 250px;
	}
}

.panel {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;

    .panel-heading {
        border-radius: 0px;
        background-color: $beeYellow;
    }

    .panel-footer {
        background-color: $beeYellow;
        border-radius: 0px;
    }
}

.label {
    border-radius: 0px;
}

/*===============================
=            Bouton            =
===============================*/

.btn {
	border-radius: 0px;
	border: 0px;
}

.btn.active, .btn-info.active {
	background-color: $wistful;
	color:            black;
}

.btn-default {
	background-color: #fff;
}

.btn-warning {
	color: black;
	background-color: $beeYellow;
}

.dropdown-menu {
	border-radius: 0px;
	background-color: lighten($royalBlue, 20%);
	color: white;
}

/*-----  Fin de Bouton  ------*/

/*==================================
=            Home index            =
==================================*/

section.home-container {
	// background-color: $yellow;
	border-radius: 0px;
	text-align: justify;
	max-width: 100%;
	margin: auto;

	img.right {
		float: right;
		margin-left: 15px;
	}

	img.left {
		float: left;
		margin-right: 15px;
	}

	.btn {
		width: 100%;
	}

    h1 {
        position: absolute;
        z-index: 5;
        text-align: center;
        width: 100%;
        text-shadow: white  1px  1px,
                     white -1px  1px,
                     white -1px -1px,
                     white  1px -1px;
    }

    .carousel {
        padding: 0px;

        .carousel-inner {
            padding: 0px;

            .item {
                padding: 0px;

                img {
                    width: 100%;
                    height: 300px;
                }
            }
        }

        .carousel-control {
            background-image: none;
        }
    }

    .panel-row {
        margin: -60px auto 0px;
        width: 80%;

        .panel {
            padding: 0px 15px;
            font-size: 14pt;
            
            .panel-body {
                background-color: $beeYellow;
                padding: 5px 0px 20px;
            }

            .panel-title {
                font-size: 26pt;
                text-align: center;
            }
        }
    }
}

/*-----  Fin de Home index  ------*/

/*=================================
=            MapBundle            =
=================================*/

.map {
	width: 99%;
	height: 100%;
	margin: auto;
	background-color: $yellow;
	//padding: 15px;

	h1 {
		text-align: center;
	}

	.map-container {
		#map {
			min-height: 400px;
			height: 500px;
			width: 100%;
		}
	}

	.map-command {
		padding: 0px;

		div.command-content {
			margin-bottom: 15px;
		}

		.inAction-container {
			text-align: center;
			margin: 0px auto 15px;
			background-color: $beeBlack;
			padding: 5px;
			color: $yellow;

			h2 {
				font-size: 18pt;
				margin-bottom: 10px;
			}

			.inAction {
				font-style: italic;
			}
		}

		#interestPoint {
			min-width: 150px;
		}

		.legend-content {
			margin-bottom: 0px;

			.legend {
				width: 110px;
				height: 30px;
				line-height: 30px;
				float: left;
				margin-bottom: 0px;
				font-weight: bold;
				font-style: italic;

				div.legend-action {
					float: left;
					width: 30px;
					height: 30px;
					border: solid 2px black;
					border-radius: 15px;
				}
			}

			.point-photo {
				background-color: $pointPhoto;
			}

			.point-video {
				background-color: $pointVideo;
			}

			.point-sound {
				background-color: $pointSound;
			}

			.point-default {
				background-color: $pointDefault;
			}
		}

		#actionTaken {
			display: none;
		}
	}

	.submit-field-row {
		div {
			padding: 0px;

			.btn {
				border: solid $beeYellow 1px;
			}
		}
	}
}

/*-----  Fin de MapBundle  ------*/

/*==============================
=            Profil            =
==============================*/

.user_show {
	background-color: $yellow;
	font-size: 20pt;

	h1 {
		position: relative;
		display: inline;
		top: -47px;
		width: 100%; 

		text-align: center;
		height: 100px;
		line-height: 100px;
		font-size: 70px;
		font-weight: bold;
		padding: 0px 15px;
		color: $royalBlue;
        text-shadow: white  1px  1px,
        white -1px  1px,
        white -1px -1px,
        white  1px -1px;
		// background-color: rgba(black, 0.5);
		// border-radius: 0 15px 15px 0;
	}

	.profile-picture {
		width: 100%;
		height: auto;
		max-height: 350px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}

	div.profile-access {
		float: right;
		padding: 0px;
	}

	div.profile-about {
		background-color: $beeYellow;
		padding: 15px;
	}

    .panel-row {
        .panel {
            padding: 0px 15px;

            .panel-body {
                background-color: $beeYellow;
            }

            .panel-title {
                font-size: 26pt;
                text-align: center;
                color: white;
            }
        }
    }
	
	p.profile-drone {
		text-align: center;

		span.profile-drone {
			font-style: italic;
			color: $beeBlack;
			font-size: 28pt;
		}

		table {
			border: 0px;
		}
	}
}

.user_dashboard {
    padding: 15px;
    background-color: lighten($beeBlack, 20%);

    .glyphicon {
        position: relative;
    }
    
    .panel-row {
        .panel-container {
            padding: 0px 15px;
        }
        .panel {
            padding: 0px 15px;

            .panel-heading {
                margin: 7px 0px 0px;
            }

            .panel-body {
                background-color: $beeYellow;
                height: 400px;
                overflow: auto;

                a.bootcards-summary-item {
                    background-color: transparent;
                    width: 150px;
                    margin: auto;
                }
            }

            .panel-title {
                font-size: 26pt;
                color: white;
                margin: 0px;
            }
        }

        .panel-chart {
            .panel-body {
                height: auto;
            }

            canvas {
                width: 100%;
                height: auto;
            }
        }
    }

}

.form-container {
    background-color: lighten($beeBlack, 20%);
    padding: 15px;
}

.form-login {
	padding: 15px;
	margin: auto;
	background-color: $yellow;
    height: 300px;
}

#remember_me-label {
    width: auto;
}

.glyphicon {
    position: static;
}

/*-----  Fin du Profil  ------*/


/*====================================
=            Espace Drone            =
====================================*/

div.drone-content {
	padding: 15px;

	h1 {
		font-size: 46pt;
		text-align: center;
	}

	h2 {
		font-family: "Segoe UI Light", Arial;
		margin: 15px 0px;
	}

	.row {
		margin: 0px;
	}

	.retour {
		text-align: center;
		margin-top: 15px;
	}
}

/*-----  Fin de Espace Drone  ------*/



/*=============================
=            Admin            =
=============================*/


/*-----  Fin de l'admin  ------*/