/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports) */

@import "compass/reset";
@import "compass/css3/font-face";
@include font-face("Quicksand", font-files("../../drone/web/stylesheets/fonts/Quicksand.otf"));
@include font-face("Brush", font-files("../../drone/web/stylesheets/fonts/Brush.ttf"));

/* Définition des constantes */

$purple: #663399;
$honeyFlower: #674172;
$ming: #336e7b;

/* Couleurs de la charte graphique */

$yellow: #f9bd3b;
$beeYellow: #f5ab35;
$beeBlack: #141414;
$royalBlue: #4183d7;

/*----- Fin des constantes  ------*/

body {
	background-color: $beeYellow;
	font-family: 'Quicksand', "Segoe UI", Arial, sans-serif;
	font-size: 16pt;
}

span.bee{
	font-family: 'Brush', Arial, sans-serif;
}

.navbar {
	background-color: $royalBlue;
	margin: 0px;
	border: 0px;
	height: 50px;
	line-height: 50px;
	border-radius: 0px;
	color: white;
	a {
		color: white;
	}
}

#content {
	width: 90%;
	margin: 0px auto 10px;
	padding: 0px 10px;
}

h1 {
	font-family: "Segoe UI Light", Arial;
	font-size: 18pt;
}

h1.bee {
	font-size: 72pt;
	text-align: center;
	color: $royalBlue;
}

.btn {
	border-radius: 0px;
}

.btn-default {
	background-color: #fff;
}

.clear {
	clear: both;
}

.progress {
	border-radius: 0px;
}

.progress-bar {
	background-color: $royalBlue;
}

.btn-info {
	background-color: $royalBlue;
	border-color:     $royalBlue;
}

.btn:hover {
	background-color: $purple;
	border-color:     $purple;
	color:            white;
}

.list-group {
	border-radius: 0px;
}

.list-group-item {
	background-color: inherit;
	border: 0px;
}

.table {
	background-color: inherit;
	border: solid $beeYellow 0px;
	
	tbody {
		tr, td {
			background-color: $beeYellow;
			border-top: $beeYellow;
		}
	}
}

.dropdown-menu {
	border-radius: 0px;
	background-color: lighten($royalBlue, 20%);
	color: white;
}

/*==================================
=            Home index            =
==================================*/

section.home-container {
	padding: 15px;
	background-color: $yellow;
	border-radius: 0px;
}

/*-----  Fin de Home index  ------*/

/*=================================
=            MapBundle            =
=================================*/

.map {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: $yellow;
	padding: 15px;

	h1 {
		text-align: center;
	}

	.map-container {
		float: left;
		width: 50%;
		background-color: $yellow;

		#map {
			position: relative;
			min-height: 400px;
			width: 100%;
		}
	}

	.map-command {
		float: right;
		padding: 15px;
		display: inline-block;
		width: 50%;

		div {
			margin-bottom: 15px;
		}

		.inAction {
			text-align: center;
			max-width: 300px;
			margin: 15px auto;
			background-color: $beeBlack;
			padding: 15px;
			color: $yellow;

			h2 {
				font-size: 18pt;
				margin-bottom: 10px;
			}

			#inAction {
				font-style: italic;
			}
		}

		#actionTaken {
			display: none;
		}
	}
}

/*-----  Fin de MapBundle  ------*/
